h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}
 
p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 50px;
}

.dark {
    background-image:url('binding_dark.png');
}


