h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}
legend {
        font-family: 'Cabin' Helvetica, Arial, sans-serif;
        font-size: 30px;
        line-height: 25px;
}

label {
        font-family:'Cabin' Helvetica, Arial, sans-serif;
        font-size: 30px;
        line-height: 25px;
}