body {background-color:#FFFFFF;}

h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}
 
p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 25px;
}